{% extends 'partials/base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block body %}
    <section class="page-feature__--heading-only">
        <h1>{{ page.title }}</h1>
    </section>
    {% block cta %}
    <section class="sub-feature__--cta-only">
        <ul>
            <li>&nbsp;</li>
            {% if page.header.ctaURL %}
                <li><a href="{{ page.header.ctaURL }}" class="button-block__light">{{ page.header.ctaText }}</a></li>
            {% else %}
                <li>{{ page.header.ctaText }}</li>
            {% endif %}
            <li>&nbsp;</li>
        </ul>
    </section>
    {% endblock %}
    {% block content %}
        <section class="content">
            {{ page.content }}
        </section>
    
        <section class="social-connect">
            <!-- DISPLAY EMBEDS FROM YOUTUBE, INSTAGRAM, AND TWITTER -->
            {% include 'partials/social-connect.html.twig' %}
        </section>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}
